target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Dependencies ###
/yt-dlp.exe
/yt-dlp
/FFmpeg/
/FFmpegLinux/

### Other ###
/FORME.md
/FORMECODE.txt
/READMEpublishingsite.md
