target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Dependencies ###
/src/main/resources/yt-dlp.exe
/src/main/resources/FFmpeg/
/src/main/resources/dependencies/

### Images ###
/src/main/resources/URLCustomDiscs_logo.png
/src/main/resources/URLCustomDiscs_square_logo.png
/src/main/resources/pack.png

### Other ###
/FORME.txt