target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Dependencies ###
/src/main/resources/yt-dlp.exe
/src/main/resources/FFmpeg/

### Images ###
/src/main/resources/MCytDISC_logo.png
/src/main/resources/MCytDISC_square_logo.png
/src/main/resources/pack.png